<!-- prettier-ignore -->
{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block body %}
    <h1>Edit {{ title }}</h1>
    <form method="POST">
      {% csrf_token %}
      <div class="form-floating">
        <textarea
        class="form-control"
        name="content"
        placeholder="Enter content of the page in MARKDOWN"
        id="floatingTextarea2"
        style="width: 80%; height: 70vh;">
        <textarea>
          dupa -> tu zmień
        </textarea>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

{% endblock %}