{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    <h1>Create new page</h1>
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <input
        type="text"
        class="form-control"
        name="newTitle"
        id="newTitle"
        placeholder="Title"
        style="width: 80%;"
        required>
      </div>
      <div class="form-floating">
        <textarea
        class="form-control"
        name="content"
        placeholder="Enter content of the page in MARKDOWN.
What is it? Visit docs.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax

Please start with a #Header."
        id="floatingTextarea2"
        style="width: 80%; height: 70vh;" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

{% endblock %}